---
---

@import "main.scss";

img {
    margin-top: 2em;
    height: 10em;
    border-radius: 2em;
}

.sites {
    display: flex;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 1em;

    .site {
        height: 5em;
        width: auto;
        border-radius: 1em;

        .square {
            fill: var(--text);
            transition: fill ease .3s;
        }
        .mask {
            fill: var(--bg);
        }

        &:hover {
            .square {
                fill: var(--secondary)
            }
        }
    }
}

@media screen and (max-width: 335px) {
    .sites {
        flex-direction: column;
        gap: 0em;
    }
}
