---
---

@use "main.scss";

img {
    margin-top: 2em;
    height: 10em;
    border-radius: 2em;
}

.sites {
    display: flex;
    gap: 2em;

    .site {
        height: 5em;
        width: auto;
        border-radius: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

        .square {
            fill: var(--text);
        }
        .mask {
            fill: var(--bg);
        }
    }
}

@media screen and (max-width: 335px) {
    .sites {
        flex-direction: column;
        gap: 0em;
    }
}
